@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a href="/Home/filmdetails/1">A New Hope</a><br />
    <a href="/Home/filmdetails/2">The Empire Strikes Back</a><br />
    <a href="/Home/filmdetails/3">Return of the Jedi</a><br />
    <a href="/Home/filmdetails/4">The Phantom Menace</a><br />
    <a href="/Home/filmdetails/5">Attack of the Clones</a><br />
    <a href="/Home/filmdetails/6">Revenge of the Sith</a><br />

</div>
